doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Sticker Store Admin Dashboard
    link(rel="stylesheet" href="/styles.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap")
  body
  body
    header
      h1 Sticker Store Admin
      nav
        ul
          li: a(href="/admin/stickers") Manage Stickers

    main
      block content

    footer
      p © #{new Date().getFullYear()} Sticker Store - All rights reserved
