extends layout

block page-style
  link(rel="stylesheet", href="css/about.css") 

block layout-content 
  h1 Welcome to Our Vegetable Shop
  h2 About Us
  p Welcome to our vegetable shop! We offer a wide range of fresh vegetables for your daily needs.
  p Our goal is to provide the highest quality products at the best prices to keep you healthy and happy.
  p We care about sustainability and work with local farmers to bring the best produce to your door.
  img(src="images/fresh_vegetables.jpg", alt="Fresh Vegetables", class="about-image")
