nav#navbar(aria-label="Main navigation")
  div#info
    div
      img(src='/images/logo.png', alt='Vegetable Shop Logo' id='logo')
  ul#nav-links
    li
      button.btn#link(onclick="location.href='/index'") Home
    li
      button.btn(onclick="location.href='/about'") About Us
